*{margin: 0;
    padding: 0;
}

body{
    display: flex;
    height: 100vh;

}

.sosyal-medya{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}

.sosyal-medya div{
    display: inline;
}

.sosyal-medya div a{
    display: inline-flex;
    height: 100px;
    width: 100px;
    text-decoration: none;
    font-size: 40px;
    background: black;
    color: #fff;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
}

.sosyal-medya .Facebook a:hover{
    background: #4267B2 ;
}

.sosyal-medya .instagram a:hover{
    background: #e01593;
}

.sosyal-medya .Github a:hover{
    background: #0c2635;
}

.sosyal-medya .Linkedin a:hover{
    background: #0066c8;
}

.sosyal-medya a i{
    transition: 0.5s all;
}

.sosyal-medya a:hover >  i{
    transform: scale(1.6) rotate(360deg);
}


.foot{
    position: absolute;
    bottom: 0px;
    left:40%;
}